@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

html, body{
    height: 100%;
}

body{
    display: none;
}

@media(max-width: 394px) {
    body {
        display: block;
        background: linear-gradient(to bottom, #13053B, #0B051B);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100%;

    }



    .img-aviator{
        position: absolute;
        left: 50%;
        top: -15%;
        transform: translateX(-50%);
        width: 385px;
    }
    .block-coin{
        position: relative;
        width: 190px;
        height: 73px;
        background-color: #6CCCA733;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Inter';
        margin: 0 auto;
        top: 315px;
    }
    .img-coin{
        padding: 0 20px 0 0;
    }
    .txt-coin{
        position: relative;
        left: -142.5px;
        color: #FFF;
    }
    .block-updates{
        position: relative;
        width: 200px;
        height: 58px;
        background-color: #2B2A8275;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 20px;
        margin: 0 auto;
        top: 360px;
    }
    .img-updates{
        padding: 0 55px 0 0;
        filter: drop-shadow(0px 0px 20px #04072A);
    }
    .txt-updates{
        position: relative;
        color: #FFF;
        right: 147.5px;
    }
    .block-info{
        position: relative;
        width: 200px;
        height: 58px;
        background-color: #2B2A8275;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 20px;
        margin: 0 auto;
        top: 385px;
    }
    .img-info{
        padding: 0 100px 0 0;
        filter: drop-shadow(0px 0px 10px #040639);
    }
    .txt-info{
        position: relative;
        color: #FFF;
        right: 182.5px;
    }

/*     .header{
        position: absolute;
        display: flex;
        width: 100%;
        bottom: 0;
        height: 75px;
        border: 1px solid red;
        background-color: #13053B;
        justify-content: center;
        align-items: center;
    }
    .img-header{
        width: 30px;
    } */
}